

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CyTOF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="static/main.css" rel="stylesheet">
</head>
<body>


<h1>Wecolme to the Mass Cytometry list of papers<span style="font-size:1rem; margin-left:30px">by Vinicius Motta</span></h1>
<p>A Pubmed search is performed with the "Mass Cytometry" key. The information from each returned paper in the search is compiled in the list below</p>

<p> Number of Articles Displayed: <span style="color:#845ec2;font-size:1.5rem"><b>{{art_num}}</b></span></p>
<p>last updated {{update_day}}</p>
<br>
<div class="container">
<form action="{{url_for('home')}}" method="post">
    <label>Search by year</label>
    <input name="year" type="text">

    <label>Search by title</label>
    <input name="title" type="text">

    <label>Search by author</label>
    <input name="author" type="text">
    <input name="search" type="submit" value="Submit or reset">
</form>
<br>
</div>
<table style="width:100%">
    {{df|safe}}
</table>

</body>
</html>