

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CyTOF Pub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="static/main.css" rel="stylesheet">
</head>
<body>


<h1 style="color:#845ec2; margin-top:10px; text-align:center">Wecolme to the Mass Cytometry publication list<span style="font-size:1rem; margin-left:30px; color:black">by Vinicius Motta</span></h1>
<p>Pubmed search is performed with the "Mass Cytometry" keyword. Information from each identified article is compiled in the table below.</p>

<p style="margin-bottom:0"> Number of articles displayed: <span style="color:#845ec2;font-size:1.5rem"><b>{{art_num}}</b></span></p>
<p style="font-size:0.75rem; margin-bottom:0">Last update: {{update_day}}</p>
<br>
<div class="container">
    <p style="margin-left:0px"><b>Search by each field or multiple fields combined </b> </p>
<form action="{{url_for('home')}}" method="post">
    <label>Year:</label>
    <input name="year" type="text" size="5" placeholder="year" onkeyup="myFunction(0,'0')" id="0">

    <label>Title:</label>
    <input name="title" type="text" placeholder="a word in title" onkeyup="myFunction(1,'1')" id="1">

    <label>Author's last name:</label>
    <input name="author" type="text" placeholder="last name" onkeyup="myFunction(2,'2')" id="2">

    <label>Citation:</label>
    <input name="citation" type="text" placeholder="a word in citation" onkeyup="myFunction(3,'3')" id="3">
    <input name="search" type="submit" value="Submit or reset">
</form>
<br>
</div>
<table id="myTable" class='table table-striped' style="table-layout:fixed">
    <thead>
    <tr>
        <th style="width:5%">{{df.columns[0]}}</th>
        <th style="width:30%">{{df.columns[1]}}</th>
        <th style="width:30%">{{df.columns[2]}}</th>
        <th style="width:30%">{{df.columns[3]}}</th>
        <th style="width:5%">{{df.columns[4]}}</th>
    </tr>
    </thead>
    <tbody>
    {% for index, row in df.iterrows():%}
    <tr>
        {%for i in range(df.shape[1])%}

        {%if i < df.shape[1]-1:%}
        <td>{{row[i]}}</td>
        {%else%}
        <td><a href="{{row[i]}}" target="_blank">Link</a></td>
        {%endif%}

        {%endfor%}

    </tr>
    {%endfor%}
    </tbody>
</table>

<!--Below is a javascript to sort table dinamically without the need to submit button. Disadvantage is doesn't combine fields only one at the time-->
<!--title case function below copied from : https://www.freecodecamp.org/news/three-ways-to-title-case-a-sentence-in-javascript-676a9175eb27/-->
<!--myFunction was copied and modified (n,id) was added from: https://www.w3schools.com/howto/howto_js_filter_table.asp-->
<!--<script>
function titleCase(str) {
  str = str.toLowerCase().split(' ');
  for (var i = 0; i < str.length; i++) {
    str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
  }
  return str.join(' ');
}
function myFunction(n, id) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById(id);
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[n];
    if (td) {
      txtValue = td.textContent || td.innerText;
        if (n > 1) {

        filter = titleCase(filter);
            if (txtValue.indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        } else if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
    }
  }
}
</script>-->

</body>
</html>